name: Release

on:
  push:
    tags:
      - '*.*.*'

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: Release to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Publish actix-grants-proc-macro crate
        # It is not always necessary to update the macro, because this step may be unsuccessful
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cd proc-macro
          cargo publish || true

      - uses: actions/checkout@v1
      - name: Publish actix-web-grants
        run: |
          cargo login ${{ secrets.CRATES_TOKEN }}
          cargo publish

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          body_path: CHANGELOG.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
